*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}




/* BARRA DE NAVEGACIÓN (INICIO) */
body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-track-piece{
    background-color: rgba(0, 0, 0, 0.527);
}
/* BARRA DE NAVEGACIÓN (FIN) */


/* HEADER (INICIO) */
.EtiquetaHeader{
    margin: 1em 0 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5em;
    width: 80em;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.527),rgba(255, 255, 255, 0.788) 16% 17%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
}

.logo-image{
    width: 13.75em;
    height: 3.75em;
    object-fit: contain;
}

.input-container{
    display: flex;
    align-items: center;
    margin-left: 2.5em;
}

.iconsearch{
    font-size: 28px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    padding: 6px 6px 6px 6px;
    cursor: pointer;
}

.buscador{
    height: 2.5em;
    width: 25em;
    border: 1px solid black;
    padding-left: 1.25em;
    outline: none;
}

.perfil, .fa-cart-shopping, .fa-heart{
    cursor: pointer;
}

.carCount{
    height: 1.375em;
    display: flex;
    align-items: center;
    
}

.countProducts{
    color: white;
    display: flex;
    justify-content: center;
    width: 1.25em;
    height: 1.25em;
    margin-bottom: 0;
    border-radius: 50%;
    background-color: black;
}

.buscador:hover{
    border: 2px solid black;
    margin: 0;
}

.carrito_perfil{
    height: 3.125em;
    width: 18.75em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
}
.separador{
    font-size: 85px;
    font-weight: lighter;
    cursor: default;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}

.image-perfil{
    height: 3.125em;
    width: 3.125em;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s;
    position: relative;
    overflow: hidden;
}

.image-perfil:hover{
    transform: rotateY(200deg);
}

.perfil-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    background-color: rgba(76, 0, 255, 0.199);    
}




/* HEADER (FIN) */




/* TITULO LISTA PRODUCTOS (INICIO) */
.conTitle{
    border-top: 0.5px solid black;
    border-right: 0.5px solid black;
    border-left: 0.5px solid black;
    background: linear-gradient(to right, red, transparent, transparent, aqua);
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    text-align: center;
    position: relative;
}

.title{
    margin: 0;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: 'Doctor Glitch', sans-serif;                                               
}
/* TITULO LISTA PRODUCTOS (FIN) */



/* LOGIN (INICIO)*/
.divImgLogin{
    width: 40.5%;
}
/* LOGIN (FIN)*/



